.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0 !important;
}

.react-datepicker-popper {
  z-index: 3;
}
